.checkbox {
  cursor: pointer;
  position: relative;
  margin-bottom: 0;

  &__text {
    position: relative;
    padding-left: calc(20px + 10px);
    cursor: pointer;
    width: 100%;
    min-height: 18px;
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    display: flex;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    @include ease;

    & > svg {
      position: absolute;
      top: -2px;
      left: 5px;
      stroke: $dark;
      z-index: 1;
      @include ease;
      width: 14px;
      height: 15px;
      opacity: 0;
      visibility: hidden;
      transform: scale(.5);
    }

    span {
      margin-top: 2px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border: 1px solid $dark;
      box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.09);
      border-radius: 50%;
    }

    //&:hover {
    //  color: $green;
    //}
  }

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 100%;
    cursor: pointer;
    &:checked + .checkbox__text,
    &:checked + .checkbox__text {
      & > svg {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
    }
  }
}