$title-h1: 81px;
$title-h2: 38px;

$text1: 28px;
$text2: 20px;
$text25: 18px;
$text3: 15px;
$text4: 14px;

@mixin title-h1 {font-size: $title-h1; @include r($breakpoint-1) {font-size: 50px;}}
@mixin title-h2 {font-size: $title-h2; @include r($breakpoint-1) {font-size: 30px;}}

@mixin text1 {font-size: $text1; @include r($breakpoint-1) {font-size: 18px;}}
@mixin text2 {font-size: $text2; @include r($breakpoint-1) {font-size: 16px;}}
@mixin text25 {font-size: $text25;}
@mixin text3 {font-size: $text3;}
@mixin text4 {font-size: $text4;}

.title-h1 { @include title-h1 }
.title-h2 { @include title-h2 }
.text1 { @include text1; }
.text2 { @include text2 }
.text25 { @include text25 }
.text3 { @include text3 }
.text4 { @include text4; }

.title-mb-1 {
  margin-bottom: 50px;
  @include r($breakpoint-1) {
    margin-bottom: 30px;
  }
}

.title-mb-2 {
  margin-bottom: 25px;
  @include r($breakpoint-1) {
    margin-bottom: 30px;
  }
}

.title-mb-3 {
  margin-bottom: 20px;
}