<footer class="footer">
    <img class="footer-image" src="{{root}}assets/img/offer-bg-1.png" alt="footer-image">
    <div class="container">
        <div class="row footer-row">
            <div class="col-lg-6">
                <div class="footer-logo__wrapper">

                    {{> logo }}

                </div>
                <div class="footer-logo__info">
                    <div class="title-mb-2">ООО «Май Пипл»</div>
                    <div>101000, г. Москва, <br>
                        Лубянский проезд, 15 стр.2</div>
                </div>
            </div>
            <div class="col-lg-6">
                <a href="#" target="_blank" class="footer-copy">
                    <svg width="150" height="33"><use xlink:href="#nk"></use></svg>
                    <span>Разработка и провижение</span>
                </a>
                <a href="#" class="link-underline">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>