<div class="header">
    <div class="container">
        <div class="header-in">

            {{> logo }}

            <div class="header-nav__wrapper">
                <div class="header-nav__in">
                    <div class="header-nav">
                        <a href="#" class="header-nav__link js-button-anchor" data-to="#about">О компании</a>
                        <a href="#" class="header-nav__link js-button-anchor" data-to="#works">Что мы делаем?</a>
                        <a href="#" class="header-nav__link js-button-anchor" data-to="#feed">Контакты</a>
                    </div>

                    <svg class="header-nav__icon"><use xlink:href="#logo"></use></svg>

                    <div class="header-info">
                        <p>ООО «Май Пипл»</p>
                        <div>101000, г. Москва, <br>
                            Лубянский проезд, 15 стр.2</div>
                    </div>
                </div>

            </div>
            <button class="burger js-toggle-menu">
                <svg width="26" height="17"><use xlink:href="#burger"></use></svg>
                <svg width="18" height="17"><use xlink:href="#cross"></use></svg>
            </button>
        </div>
    </div>
</div>